.body{
    box-sizing: border-box;
}
 form{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .caixa{
      height: 45px;
     
  }
  .forme {
    display: flex;
  }
  .contact{
    width: 49.5%;
  }
  input, textarea{
    border: 1px solid lightblue;
    width: 100%;
  }
  textarea{
    margin-right: 5%;
    margin-left: 12%;
    height: 100px;
    resize: none;
  }
  .left{
    margin-right: .5%;
  }
  .right{
    margin-left: .5%;
  }