
  .caixa{
      height: 45px;
  }
  .forme {
    display: flex;
   
  }

  .textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-right: 5%;
    margin-left: 12%;
    min-height: 300px;
    max-height: 100%;
    height: 100%;
    resize: none;
    background: rgba(252, 250, 250, 0.8);
  }
 
  .precoVenda{
    min-width: 200px;
    max-width: 50%;
  }