<form>
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control caixa " placeholder=" Nome">
    </div>
    <div >
      <input type="text"  class="form-control caixa " placeholder="Telefone">
    </div>
    <div class="col-3">
      <input type="text" class="form-control caixa " placeholder="Endereco">
    </div>
    <div  class="col-2">
      <input type="text"  class="form-control caixa " placeholder="Número">
    </div>
    <button type="button" style="width: 9.5%;"ng-if="mostrarEndereco" ng-click="cadastrarEndereco()" class="btn btn-success caixa ">Cadastrar</button>
  
   </div>
  
  
</form>
