<form name="formEndereco">
  <div class="row">
    <div class="col-2">
      <input type="text"  class="form-control caixa "ng-required="true"ng-model="cliente.telefone" ng-pattern="soNumero"ng-minlength="9" ng-maxlength="12" placeholder="Telefone">
    </div>
    <div class="col-3">
      <input type="text" class="form-control caixa "pattern="[^0-9]+"ng-model="cliente.clienteNome"  ng-required="true" placeholder=" Nome">
    </div>
    <div class="col-3">
      <input type="text" class="form-control caixa "ng-model="cliente.endereco" placeholder="Endereco">
    </div>
    <div  class="col-2">
      <input type="text"  class="form-control caixa "ng-required="true"ng-model="cliente.numero" ng-pattern="soNumero" ng-maxlength="4" placeholder="Número">
    </div>
    <button type="button" style="width: 9.5%;"ng-if="mostrarEndereco" ng-click="cadastrarEndereco(cliente)" ng-disabled="formEndereco.$invalid" class="btn btn-success caixa ">Cadastrar</button>
   
  </div>
  
  
</form>
