
<buscar-cadastro></buscar-cadastro>
<hr style="margin-left: 40px;  width: 98%;">
<table class="table" style="margin-left: 8%;margin-top: 20px;">
    <thead>
        <tr>
          <th scope="col-1">Código</th>
          <th scope="col-5">Nome do Produto</th>
          <th scope="col-1">Preço</th>
          <th scope="col-1">Tamanho</th>
           <th></th>
        </tr>
      </thead>
    <tbody>
   
      <tr ng-repeat="produto in obj | filter: nome || codigo">
        <td > {{produto.codigo}}</td>
        <td>{{produto.nome}}</td>
        <td >R$ {{produto.preco}}</td>
        <td>{{produto.tamanho}}</td>
       <td>
          <button type="button" class="btn btn-link"style="color: red;width: 5px;" aria-label="Fechar" ng-click="deletarProduto(produto)"> 
            <span aria-hidden="true">&times;</span> 
          </button>
         
          <a  href="cadastrar/editar/{{produto.codigo}}" class="btn btn-link" aria-label="Fechar"> 
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
      </td>
    
      </tr>
    </tbody>
</table>
